<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <title><%= current_page.data.title || "Ryan Scott" %></title>
    <meta name="author" content="Ryan Scott">
    <meta name="keywords" content="Ryan Scott, Rails, Ruby, Ruby on Rails, JavaScript, Melbourne, Programming, Games, Games Programming, Web Programming, Web Development">
    <meta name="description" content="Ryan Scott - I'm a software developer living in Melbourne Australia. I currently work with Ruby on Rails and JavaScript. In my spare time I love programming games and spending time with my girlfriend.">
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <%= stylesheet_link_tag "normalize", "foundation", "all" %>
    <%= javascript_include_tag  "jquery-2.1.0.min", "foundation.min", "all" %>
  </head>
  
  <body class="<%= page_classes %>" itemscope itemtype="http://data-vocabulary.org/Person">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1 class="logo">
            <a href="/" target="_parent">
              <img itemprop="image" src="http://www.gravatar.com/avatar/639f078c2a48fb3982376307e252948d.png" alt="Ryan Scott" width="34px" height="34px"></img>
              <span itemprop="name">Ryan Scott</span>
            </a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          
        </ul>
      </section>
    </nav>

    <%= yield %>

    <footer>
      <div class="row">
        <div class="medium-4 columns">
          <ul class="layout-about">
            <li>
              <p class="about-blurb">
                I'm a <span itemprop="title">software developer</span> living in <span itemprop="address" itemscope
                itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Melbourne</span> <span itemprop="country-name">Australia</span></span>.
              </p>
            </li>
            <li>
              <p class="about-blurb">
                I currently work with Ruby on Rails and JavaScript.
              </p>
            </li>
          </ul>
        </div>
        <div class="medium-4 columns">
          <ul class="layout-social">
            <li>
              <a href="http://twitter.com/Archytaus" target="_blank" title="Twitter" style="text-decoration:none;" >
                <div class="twitter-logo"></div>
              </a>
            </li>
            <li>
              <a href="http://github.com/Archytaus" target="_blank" title="Github" style="text-decoration:none;">
                <div class="github-logo"></div>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/115667768233505109815?rel=author" rel="publisher" rel="author" target="_blank" title="Google+" style="text-decoration:none;">
                <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7266775-2', 'ryan-scott.me');
      ga('send', 'pageview');

    </script>
  </body>
</html>
